<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxl.blog.dao.ArticleDAO">
    <resultMap id="BaseResultMap" type="com.xxl.blog.domain.Article">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="text" jdbcType="VARCHAR" property="text" />
        <result column="user_id" jdbcType="VARCHAR" property="user_id" />
        <result column="time" jdbcType="BIGINT" property="time" />
        <result column="type" jdbcType="INTEGER" property="type" />
    </resultMap>

    <select id="getArticleList" resultMap="BaseResultMap">
        SELECT * FROM blogs
    </select>
    <insert id="addArticle" >
        insert into blogs (type, title, text, user_id, time)
        values (#{type, jdbcType=INTEGER},
        #{title, jdbcType=VARCHAR},
        #{text, jdbcType=VARCHAR},
        #{user_id, jdbcType=VARCHAR},
        #{time, jdbcType=BIGINT})
    </insert>
    <delete id="deleteArticle" parameterType="java.lang.Integer" >
        delete from blogs
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>